<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.dao.TestDao" >
   <select id="getSaleList" resultType="com.ln.entity.SaleTest">
       select * from sale_test
   </select>
</mapper>